@charset "utf-8";
/* CSS Document */

/*-------------修改密码----- ---------*/

.row {
	padding-bottom: 10px;
	text-align:left;
	}

label {
	width: 120px;
	display: block;
	float: left;
	line-height:16px;
	text-align: right;
	margin-right: 10px;
	margin-bottom: 3px;
	color:#194555;
	}

input.text {
	display: inline;
	border: 1px solid #818181;
	font-size: 12px;
	font-family:宋体, Tahoma;
	color: #333333;
	width:150px;
	height: 16px;
	padding: 2px 4px 2px 4px;
	background:url(../images/inputbg.gif) #FFFFFF repeat-x top left; 
	}
	
input.Wdate {
	display: inline;
	border: 1px solid #818181;
	font-size: 12px;
	font-family:宋体, Tahoma;
	height: 16px;
	padding: 2px 4px 2px 4px;
	}
	
select {
	font-size: 12px;
	font-family:宋体, Tahoma;
}

textarea {
	width:200px;
	height:80px;
	font-size: 12px;
	font-family:宋体, Tahoma;
}

/*-------------预约套餐----- ---------*/

.row table {
	width: 100%;
	background:#FFFFFF;
	}
	
.row table td {
	padding: 5px;
	border-bottom:solid 1px #AEC3D6; 
	}

.row .urltext {
	line-height:18px;
}

.tableheader {
	background:/*url(images/banner.gif)*/ #A5E5FB repeat-x left center;
	height:18px; 
	line-height:18px;
	text-align: center;
	font-weight:BOLD;
	color:#003a51;
	}
